*{
  margin:0;
  padding :0;
  box-sizing:border-box;
  font-family:Century Gothic;

}

.main ul li{
  text-decoration: none;
  list-style-type: none;
  float: right;
  margin-top: 2em;
}

/* imported text */
body{
   background-color: #f3f3f3;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height:500px ;
  width:800px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper.left.btn p{
  float: left;
  color: black;
}


.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* end of immported text */

ul li{
display: inline-block;
padding: 10px 2px;
}

.main ul li a{
  text-decoration: none;
  color: black;
  padding: 5px 10px ;
  border: 1.5px transparent;
  border-radius: 50px;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: grey;
  color: white;
}

.main{
  max-width: 1200px;
  margin: auto;
}
